#search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
}
#search-bar-container .form-group {
    width: 100%;
}

#search-bar-container .form-group *:not(:last-child) {
    margin-right: 15px;
}